<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top"> <!-- -->
          
  <!-- Logo = Link to Home -->
  <a class="navbar-brand text-white" href="index.html"><img src="../assets/logo/fflogo.jpg" width="70px" style="border-radius: 50px;"></a>

  <!-- Hamburger Menu Toggle -->
  <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Items (collapsable)-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto justify-content-center">

      <li class="nav-item text-center">
        <a class="btn btn-outline-light border border-dark rounded mx-2 w-150" href="pages/program.html">Programs</a>
      </li>
      
      <li class="nav-item text-center">
          <a class="btn btn-outline-light border border-dark rounded mx-2 w-150" href="pages/MeetOurTeam.html">Our Team</a>
        </li>
        
      <li class="nav-item text-center">
          <a class="btn btn-outline-light border border-dark rounded mx-2 w-150" href="pages/schedule.html">Book Sessions</a>
        </li>
        
      <li class="nav-item text-center">
          <a class="btn btn-outline-light border border-dark rounded mx-2 w-150" href="pages/contact.html">Contact</a>
        </li>

        <li class="nav-item text-center">
          <a
            class="btn btn-outline-light border border-dark rounded mx-2 w-150"
            href="pages/login.html"
            >LogIn/Register</a
          >
        </li>
      <li class="nav-item text-center">
        <a class="btn btn-outline-light border border-dark rounded mx-2 w-150" href="pages/cart.html"><i class="fas fa-shopping-cart fa-lg"></i><span class="nav-cart-count">0</span></a>
      </li>
    </ul>
  </div>
 </nav>